.container {
    display: flex;
    color: #424242;
    min-height: 100vh;
    background-color: #faf4e9;
}

.login-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.login-items div {
    display: flex;
}

.sidebar {
    background-color: #faedcd;
    width: 30%;
    min-width: 350px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 80px;
}

.sidebar-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.content {
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(212, 163, 115, 0),
        rgba(212, 163, 115, 0.75),
        rgba(212, 163, 115, 0)
    );
    width: 100%;
}

.radio input {
    visibility:hidden;
}
.radio label {
    cursor: pointer;
    background-color: #faedcd;
    width: 140px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

.radio label:hover {
    color: #D4A373;
    background-color: #E9EDC9;
}

input:checked + label {
    background-color: #E9EDC9;
    color: #D4A373;
}