.container {
    display: flex;
}

.sidebar {
    background-color: #faedcd;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* bottom: 0; */
    width: 30%;
    min-width: 350px;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}
