body {
    margin: auto;
    /* max-width: 500px; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Merriweather";
    font-size: 22px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
    width: 100vw;
}